/* fonts */
/* colors */
*,
.elem__button {
  outline: none !important;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}
.slider {
  font-family: 'Open Sans', sans-serif;
}
.row {
  height: 100%;
  padding: 40px 45px;
}
.row .col-md-6:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
}
.elem__title {
  font-size: 30px;
  font-weight: bold;
}
.elem__description {
  max-width: 406px;
  font-size: 18px;
  font-weight: normal;
}
.elem__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 158px;
  padding: 10px 20px;
  color: #fff;
  background: #51b500;
  border-radius: 50px;
}
.elem__button:hover {
  color: #fff;
  background: #3a8200;
  text-decoration: none;
}
.elem__button:link {
  color: #fff;
  text-decoration: none !important;
}
.elem__button:visited {
  color: #fff;
  text-decoration: none !important;
}
/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 3rem;
  height: 3rem;
  border: none;
}
.arrow--prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  background: url("../img/ico_arr.svg") center no-repeat / contain;
}
.arrow--next {
  right: 0;
  background: url("../img/ico_arr.svg") center no-repeat / contain;
}
.carousel-indicators {
  position: absolute;
  bottom: -45px;
}
.carousel-indicators li {
  background: #51b500;
}
.carousel-indicators .active {
  background: #fc3503;
}
@media (max-width: 991px) {
  .row .col-md-6:last-child {
    height: auto;
  }
  .elem__title {
    padding-top: 40px;
    text-align: center;
  }
  .elem__description {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .elem p:not(.elem__description) {
    padding-bottom: 20px;
    text-align: center;
  }
  .elem__button {
    width: 158px;
    margin: 0 auto;
  }
  .item img {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .row {
    padding: 0;
  }
  .elem__title {
    font-size: 24px;
  }
  .elem__description {
    padding-top: 20px;
    font-size: 16px;
  }
  .arrow {
    top: 49%;
  }
  .arrow--prev {
    left: -23px;
  }
  .arrow--next {
    right: -23px;
  }
}
