/* fonts */
@openSans: 'Open Sans', sans-serif;

/* colors */
@green: #51b500;
@white: #fff;
@red  : #fc3503;

*,
.elem__button {
    outline: none !important;
}

.container {
    max-width: 1100px;
    margin   : 0 auto;
    padding  : 0 40px;
}

.slider {
    font-family: @openSans;
}

.row {
    height : 100%;
    padding: 40px 45px;
}

.row .col-md-6:last-child {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    height         : 430px;
}

.elem {
    &__title {
        font-size  : 30px;
        font-weight: bold;
    }

    &__description {
        max-width  : 406px;
        font-size  : 18px;
        font-weight: normal;
    }

    &__button {
        display        : flex;
        flex-direction : row;
        justify-content: space-around;
        max-width      : 158px;
        padding        : 10px 20px;
        color          : @white;
        background     : @green;
        border-radius  : 50px;
    }

    &__button:hover {
        color          : @white;
        background     : darken(#51b500, 10%);
        text-decoration: none;
    }

    &__button:link {
        color          : @white;
        text-decoration: none !important;
    }

    &__button:visited {
        color          : @white;
        text-decoration: none !important;
    }
}

/* arrows */

.arrow {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
    z-index  : 99;
    width    : 3rem;
    height   : 3rem;
    border   : none;

    &--prev {
        left           : 0;
        transform      : translateY(-50%) rotate(180deg);
        background     : url("../img/ico_arr.svg") center no-repeat /contain;
    }

    &--next {
        right     : 0;
        background: url("../img/ico_arr.svg") center no-repeat /contain;
    }
}

.carousel-indicators {
    position: absolute;
    bottom  : -45px;

    & li {
        background: @green;
    }

    & .active {
        background: @red;
    }
}

@media (max-width: 991px) {

    .row .col-md-6:last-child {
        height: auto;
    }

    .elem {

        &__title {
            padding-top: 40px;
            text-align : center;
        }

        &__description {
            padding-top   : 40px;
            padding-bottom: 20px;
            margin        : 0 auto;
            text-align    : center;
        }

        p:not(.elem__description) {
            padding-bottom: 20px;
            text-align    : center;
        }

        &__button {
            width : 158px;
            margin: 0 auto;
        }
    }

    .item img {
        margin: 0 auto;
    }
}

@media (max-width: 480px) {

    .row {
        padding: 0;
    }

    .elem {

        &__title {
            font-size: 24px;
        }

        &__description {
            padding-top: 20px;
            font-size  : 16px;
        }
    }

    .arrow {
        top: 49%;

        &--prev {
            left: -23px;
        }

        &--next {
            right: -23px;
        }
    }

}